{% extends 'rango/base.html' %}
{% load static%}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <div>
        <div class="jumbotron p-1 ">
            <h1 class="display-4">Rango says...</h1>
            <p class="lead">You can learn more about us</p>
        </div>
    </div>
    <div>
        here is the about page.</br>
        <p>Visits: {{visits}}</p>
        This tutorial has been put together by {{ name }} </br>
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango">
    </div>
    <div>
        <img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat"/>
    </div>
{% endblock %}
